nav {
  font-family: "Cabin", sans-serif;
}

.nav-margin {
  display: flex;
  padding-top: 20px
}

.nav {
  background-color: #264653;
  display: flex;
  flex-direction: row;
  height: 50px;
  padding-left: 20px;
  padding-top: 20px;
}

.nav img {
  max-height: 100%;
}

.nav-home img {
  max-height: 100%;
}

.nav a {
  color: white;
  text-decoration: none;
}

.nav-home {
  background-color: transparent;
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 99%;
  height: 50px;
  padding-left: 20px;
  padding-top: 20px;
}

.nav-home .logo {
  padding-right: 10px;
}

.nav .logo {
  padding-right: 10px;
}

.nav-home a {
  text-decoration: none;
  color: #264653;
}

.nav-home:hover {
  background-color:rgba(255,255,255,0.4)
}

.links {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-evenly;
}

.nav-home .links {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-evenly;
}

.nav .link-welcome {
  color: white;
  margin: 10px 10px 0px 10px;
  font-size: 12px;
}

.nav-home .link-welcome {
  color: #264653;
  margin: 10px 10px 0px 10px;
  font-size: 12px;
}

.link {
  display: flex;
  align-items: center;
  padding: 0px 10px 0px 10px;
}

.link:hover {
  background-color: #F4A261;
}

.link-welcome:hover {
  background-color: none;
}


.bm-burger-button {
  position: fixed;
  width: 22px;
  height: 20px;
  right: 10px;
  top: 10px;
}

.bm-burger-bars {
  background: #F4A261;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
  left: 165px;
}

.bm-cross {
  background: white;
}

.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

.bm-menu {
  background: #264653;
  padding: 2em 1em 0;
  font-size: 1em;
  width: 200px;
  font-weight: 500;
}

.bm-menu a {
  text-decoration: none;
  color: white;
  padding: 10px
}

.burger-item {
  margin: 10px 0px 10px 0px;
}

.bm-menu .link-welcome {
  color: white;
  padding: 10px;
}

@media (min-width: 870px) {
  .mobile-nav {
    display: none;
  }

  .nav-home .mobile-nav{
    display:  none;
  }
}

@media (max-width: 870px) {
  .nav .links {
    display: none;
  }
  .nav-home .links {
    display: none;
  }
}

@media (max-width: 500px) {
  .nav {
    height: 30px;
  }
  
  .nav-home {
    height: 30px;
  }

  .nav {
    display: flex;
    padding-top: 10px;
    padding-left: 10px
  }

  .nav-home {
    display: flex;
    padding-top: 10px;
    padding-left: 10px
  }
}

