@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Playfair+Display:wght@700&family=Space+Grotesk:wght@500&family=Titillium+Web:wght@700&family=Varela+Round&display=swap');

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 3vh;
  color: #EFD595;
}
.form-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("https://i.imgur.com/ebmfzLO.jpg");
  background-size: cover;
  background-repeat: no-repeat; 
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #264653;
  width: 40vw;
  border-radius: 20px;
  margin-top: 10vh;
}
input {
  font-family: 'Cabin', sans-serif;
  font-size: 50%;
  width: 25vw;
  height: 4vh;
  margin-bottom: 1vh;
  border-radius: 10px;
  padding-left: 20px;
}
.submit {
  background-color: #E76F51;
  border-radius: 10px;
  height: 5vh;
  width: 15vw;
  font-family: 'Playfair Display', serif;
  font-size: 80%;
  margin-bottom: 4vh; 
}
.home-button {
  background-color: #ffffff50;
  width: 15vw;
  height: 5vh;
  border-radius: 10px;
  font-size: 100%;
  font-family: 'Playfair Display', serif;
  margin-top: 4vh;
  margin-bottom: 4vh;
}