@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Playfair+Display:wght@700&family=Space+Grotesk:wght@500&family=Titillium+Web:wght@700&family=Varela+Round&display=swap");

#signup-h2 {

  font-family: 'Playfair Display', serif;
  color: #EFD595;


}
.form-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("https://i.imgur.com/ebmfzLO.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #264653;
  width: 40vw;
  border-radius: 20px;
  margin-top: 10vh;
}
.signup-input {

  font-family: 'Cabin', sans-serif;
<<<<<<< HEAD
  
=======
  /* font-size: 100%; */

>>>>>>> 0d5278b167213a9382fc4ce725ea7ea843cf9705
  width: 25vw;
  height: 4vh;
  margin-bottom: 3vh;
  border-radius: 10px;
  padding-left: 20px;
}
.signup-button {
  background-color: #e76f51;
  border-radius: 10px;
  height: 5vh;
  width: 15vw;

  font-family: 'Playfair Display', serif;
  margin-bottom: 4vh; 

}
.signup-home-button {
  background-color: #ffffff50;
  width: 15vw;
  height: 5vh;
  border-radius: 10px;
<<<<<<< HEAD
=======

  /* font-size: 100%; */
>>>>>>> 0d5278b167213a9382fc4ce725ea7ea843cf9705
  font-family: 'Playfair Display', serif;
  margin-top: 4vh;
  margin-bottom: 4vh;
}

@media only screen and (max-width: 600px) {
  .signup-button {
    font-size: 70%;
    width: 50vw;
  }
  .signup-home-button {
    font-size: 70%;
    width: 50vw;
  }
  .signup-form {
    width: 90%;
  }
  .signup-input {
    width: 70%;
  }
}

