footer {
  background-color: #264653;
  color: white;
  background-image: url('https://i.imgur.com/xL9R8iT.png');
  background-size: 75% 75%;
  background-repeat: no-repeat;
  background-position: bottom;
  font-family: "Cabin", sans-serif;
}

.footer-margin {
  margin: 0px 30px 0px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-byline h4 {
  margin: 0 5px 8px 5px;
  text-align: right;
}

.footer-byline h5 {
  margin: 0 5px 5px 0;
  text-align: right;
}

.footer-menu a {
  text-decoration: none;
  color: white;
  font-family: "Cabin", sans-serif;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  margin: 20px 0px 10px 0px;
  justify-content: flex-start;
}

.footer-byline {
  font-size: 14px;
  margin: 20px 0px;
}

.menu-item {
  text-align: left;
  margin-bottom: 5px;
}