footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #264653;
  color: white;
  background-image: url('https://i.imgur.com/xL9R8iT.png');
  background-size: 90% 80%;
  background-repeat: no-repeat;
  background-position: bottom;
}

.footer-menu a {
  text-decoration: none;
  color: white;
}

.footer-menu {
  display: flex;
  flex-direction: column
}

.footer-byline {
  font-size: 10px;
}