.editForm {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
  font-family: "Playfair Display", Arial, Helvetica, sans-serif;
}
.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
}
.container-div {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.inputs {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}
.save-button {
  /* background-color: #e76f51;
  color: #264653;
  border-radius: 5px;
  margin: 5px;
  font-size: 20px;
  font-family: "Playfair Display", Arial, Helvetica, sans-serif;
  border: none;
  display: inline-block;
  width: ; */
  display: inline-block;
  text-decoration: none;
  color: #264653;
  background-color: #f4a261;
  padding: 8px 14px 8px 14px;
  border-radius: 5px;
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  margin: 10px auto;
  width: auto;
}
a.edit-button {
  text-decoration: none;
  color: #264653;
}
