@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Playfair+Display:wght@700&family=Space+Grotesk:wght@500&family=Titillium+Web:wght@700&family=Varela+Round&display=swap");

#signin-h2 {
  font-family: "Playfair Display", serif;
  font-size: 3vh;
  color: #efd595;
}
.signin-h3 {
  color: #ffffff;
}
.here-link {
  text-decoration: none;
  color: #e76f51;
}
.form-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("https://i.imgur.com/ebmfzLO.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.signin-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #264653;
  width: 40vw;
  border-radius: 20px;
  margin-top: 10vh;
}
.signin-input {
  font-family: "Cabin", sans-serif;
  font-size: 100%;
  width: 25vw;
  height: 4vh;
  margin-top: 1vh;
  margin-bottom: 3vh;
  border-radius: 10px;
  padding-left: 20px;
}
.sign-in-button {
  background-color: #e76f51;
  border-radius: 10px;
  height: 5vh;
  width: 15vw;
  font-family: "Playfair Display", serif;
  font-size: 80%;
  margin-bottom: 4vh;
}
.home-button {
  background-color: #ffffff50;
  width: 15vw;
  height: 5vh;
  border-radius: 10px;
  font-size: 100%;
  font-family: "Playfair Display", serif;
  margin-top: 4vh;
  margin-bottom: 4vh;
}
