/* HEADER ==================================== */
.header {
  display: block;
}

/* use flexbox instead? image absolute? use flex start on text */

.header img {
  margin: auto;
  height: auto;
  width: 100%;
}

.header-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  height: auto;
  width: 100%;
}

.header-text h1 {
  width: 100%;
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-size: 4.2vw;
  color: #ffffff;
}

.header-text a {
  text-decoration: none;
  color: black;
  background-color: #efd595;
  padding: 12px;
  border-radius: 5px;
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-size: 18px;
}

/* JOIN US ==================================== */

.join-block {
  text-align: left;
  margin: auto;
  width: 100%;
  height: 300px;
  background-color: #f4a261;
  display: flex;
  justify-content: space-between;
  column-gap: 100px;
}

.join-text-block {
  padding-left: 30px;
  flex: 1;
}

.join-image-block {
  width: 35%;
}

.join-image-block img {
  width: 80%;
  border-left: 12px solid #efd595;
}

.join-text-block h4 {
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #264653;
  padding-left: 6%;
}

.join-text-block p {
  font-family: "Cabin", sans-serif;
  color: white;
  font-weight: 200;
  font-size: 28px;
  padding-left: 6%;
}

.join-text-block a {
  text-decoration: none;
  color: black;
  background-color: #efd595;
  padding: 8px 14px 8px 14px;
  border-radius: 5px;
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-size: 16px;
  float: right;
}

/* QUOTE BLOCK ====================================== */

.quote-block {
  text-align: center;
  margin: auto;
  width: 88%;
  margin-bottom: 110px;
}

.quote-block h2 {
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-size: 6.7vw;
  color: #2a9d8f;
  margin-bottom: 10px;
}

.quote-block p {
  font-family: "Cabin", sans-serif;
  font-weight: 200;
  font-size: 2.35vw;
  margin-top: 10px;
}

/* ACTION BLOCK ====================================== */

.action-block {
  width: 88%;
  margin: auto;
  display: flex;
  column-gap: 60px;
  margin-bottom: 90px;
}

.action-block h4 {
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-size: 3vw;
  color: #264653;
  margin-top: 8px;
  margin-bottom: 16px;
}

.action-block p {
  font-family: "Cabin", sans-serif;
  font-weight: 200;
  font-size: 18px;
}
