
.search-wrapper {
 display: flex;
 justify-content: flex-end;
 margin-right: 80px;
 margin-top: 120px;

}


.search-form input.search-input {
    background-color: #EFD595;
    color: #2A9D8F;
    border-radius: 3px;
    padding: 10px 10px 10px 10px;
    width: 300px;
    border: none;
    resize: none;
    outline: none;
    }

    @media only screen and (max-width: 600px) {

        .search-form input.search-input {
          
            width: 150px;
          
            }
      }